<html lang="en"><head>
  <title>Mongo Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>
<div class="container-fluid article-container"><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/opinion/democrats-2020-election.html">The Question All Democrats Need to Ask Themselves</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">If your preferred candidate doesn’t win the nomination, will you still do everything you can to deny Trump a second term?</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/interactive/2020/02/09/movies/oscars-academy-awards-live.html">The Oscars: Follow Along With Our Conversation</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">Our writers are watching the show and sharing their favorite (and least favorite) moments.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/world/asia/china-coronavirus-sars.html">Coronavirus Epidemic Reaches Bleak Milestone, Exceeding SARS TollChina is racing to test patients for the virus more quickly.A Grandmother Got the Coronavirus. Then the Whole Family Did.</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">More than 900 people have died in China in the month since the first death was reported. The SARS crisis began in similar circumstances in 2002.“What kind of government is this?” asks a family of three generations desperate for care.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/us/politics/iowa-caucuses-democrats.html">Iowa Democrats Give Buttigieg the Most Delegates, but Won’t Fix All ErrorsVoters in heavily Republican suburbs of Milwaukee did not entirely embrace Donald Trump in 2016. They do now.</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">Some precincts were re-examined, but the result still may not be final. The state party also said it could not change tally sheets even if they had mistakes.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/world/asia/china-coronavirus-sars.html">Coronavirus Epidemic Reaches Bleak Milestone, Exceeding SARS TollChina is racing to test patients more quickly, acknowledging that delays in diagnosing the virus have been an issue.Her Grandmother Got the Coronavirus. Then So Did the Whole Family.</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">More than 800 people have died in China in the month since the first death was reported in Wuhan. The SARS crisis began in similar circumstances in 2002.“What kind of government is this?” asks a family of three generations sickened by the new virus and desperate for care in Wuhan.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/sports/soccer/premier-league-ceo.html">The Search to Fill Soccer’s Biggest, Toughest Job</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">The turbulent search for the Premier League’s new chief executive exposed brittle fault lines in the league’s power structure.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/07/opinion/sunday/brit-marling-women-movies.html">I Don’t Want to Be the Strong Female Lead</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">Or “Dave’s wife.” Or “robot girl.”</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/world/asia/thailand-shooting.html">‘Do Not Make Any Loud Noises’: A Thai Soldier’s 18-Hour Shooting Rampage</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">The authorities said the mass shooting, a rarity in the country, started over a real estate dispute and ended with at least 29 people dead and 58 injured.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/technology/amazon-bookstore-nazis.html">Amazon Is Quietly Removing Books That Promote Nazis</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">The retailer once said it would sell “the good, the bad and the ugly.” Now it is getting pulled into the free speech debates that have roiled social media sites.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/movies/oscars-academy-awards.html">What to Watch For Tonight at the OscarsSee this year’s nominees and how readers voted on our ballot.See all the looks from the red carpet.</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">Don’t expect any surprises in the acting categories, but the best-picture race is compelling. The hostless ceremony begins at 8 p.m. Eastern on ABC.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/interactive/2020/02/09/world/africa/nile-river-dam.html">For Thousands of Years, Egypt Controlled the Nile. A New Dam Threatens That.</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">Ethiopia is staking its hopes on a hydroelectric dam. Egypt fears it will cut into its water supplies. President Trump is mediating.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/us/politics/iowa-caucuses-democrats.html">Iowa Democrats Won’t Correct Errors on Caucus Tally Sheets, Emails ShowVoters in heavily Republican suburbs of Milwaukee did not entirely embrace Donald Trump in 2016. They do now.</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">Altering the worksheets — even if they contained mistakes — would be a crime, the lawyer for the state party said.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.comhttps://www.nytimes.com/live/2020/new-hampshire-primary-02-09">Live Updates: The Democrats’ Attacks Get Personal</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">Bernie Sanders and Pete Buttigieg, the victors in the Iowa caucuses, are also leading in the New Hampshire polls as their rivals try to topple them.</div></div><div class="card"><div class="card-header"><h3><a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2020/02/09/world/asia/china-coronavirus-tests.html">China is racing to test patients more quickly, acknowledging that delays in diagnosing the virus have been an issue.Her Grandmother Got the Coronavirus. Then So Did the Whole Family.</a><a class="btn btn-success save">Save Article</a></h3></div><div class="card-body">“What kind of government is this?” asks a family of three generations sickened by the new virus and desperate for care in Wuhan.</div></div></div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>




</body></html>